body {
    background-color: #C5C4FF;
    font-family: "Cutive Mono", monospace;
}

.header {
    font-size: 100px;
    margin-top: -50px;
    /* margin-left: 30px; */
    
}
ul{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
h1 {
    font-size: 6rem;
    margin-top: -50px;
    /* margin-left: 6rem; */
    
}

p {
    font-size: 50px;
}
/* colby added this */
.page-container {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}
nav{
    margin:0 20px;
    position: relative;
    display: flex;
    height: 60px;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.menu.active{
    display: flex;
}

.menu-icon {
    display:flex;
    align-items: center;
    /* padding: 25px; */
    font-size: 50px;
    width: 1em;
}

.menu{
    padding: 1rem;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    top: 60px;
    left: 0px;
    color: black;
    text-decoration: none;
}
/* End of Colby's Edits */


.images {
    column-count: 2;
    column-gap: 20px;
    column-rule: none;
    height: auto;
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    margin-top: 1px;
}

.images {
    position: relative;
}

.images img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    break-inside: avoid;
    page-break-inside: avoid;
    transition: filter 0.3s;
}

.img-container{
    position: relative;
}

.img-container:hover .description{
    display: inline;
}

.description{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }  

.image.name {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}

img.image:hover  {
    filter: brightness(0.7);
    cursor: pointer;
}

/* .image:hover .name {
    opacity: 1;
    cursor: pointer;
} */

/* Below is artshow */


.about-info {
    float: right;
    width: 675px;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 150px;
    left: 100px;

}

.image-1 {
    width: 450px;
    height: auto;
    margin-top: 150px;
    margin-left: 120px;

}

.header-1 {
    font-size: 100px;
    width: 2000px;
    margin-top: 150px;
    margin-left: -30px;
}

.about-info-2 {
    font-size: 20px;
    position: absolute;
    margin-left: 120px;
    width: 1200px;
    margin-top: 50px;
}